<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="ISISConnectionStringTest" connectionString="Data Source=sqlgeneraldev.nexus.uwaterloo.ca;Initial Catalog=itc-isis-test;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" />
		<add name="ISISConnectionString" connectionString="Data Source=sqlgeneralprod.nexus.uwaterloo.ca;Initial Catalog=itc-isis;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ReportsFolderPath" value="\\psychfile\psych$\psych-lab-gfong\SMG\SDI\Reports\ISR\" />
	</appSettings>
</configuration>
